<header>
    <img
      src="assets/img/thiago.jpg"
      alt="Thiago Souza - Foto de perfil"
      width="130px"
      height="173px"
      loading="eager"
    />
  
    <h1>Thiago Souza</h1>
  </header>
  
  <aside>
    <div class="container">
      <p>Full-Stack Javascript | Angular | Node Js | Nest Js</p>
      <p>Rio de Janeiro, Brasil</p>
      <p>
        Desenvolvedor full-stack com preferência em front-end, especializado em
        criar visuais suaves e otimizados, e back-end com lógica simples e
        organizada.
      </p>
  
      <nav>
        <ul>
          <li>
            <a
              href="assets/pdf/CV_Modelo_TH.pdf"
              target="_blank"
              class="btn btn-primary"
              >Currículo</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/thiagosouzadev/"
              target="_blank"
              class="btn btn-secondary"
              >LinkedIn</a
            >
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Icone Whatsapp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://api.whatsapp.com/send?phone=5521xxxxxxxxx&text=Ol%C3%A1%20Thiago,%20preciso%20de%20um%20job!"
              target="_blank"
            >
              <strong>Envie uma mensagem para:</strong>
              <p>WhatsApp: (21) x xxxx-xxxx</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:mctks2x@gmail.com" target="_blank">
              <strong>Envie uma e-mail para:</strong>
              <p>mctks2x&#64;gmail.com</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </div>
  </aside>
  